@base_text_ff: Tahoma;
@base_text_ff_bold: 'MontserratBold';
@base_text_title: 'KaushanScriptRegular';
@color_green: #76f9be;
@bgc_blue:  #0c204a;
@color_text_white: #fff;
@bgc_white: #fff;
@color_text_blue: #2c3e50;
@color_green_opasity: #76f9bead;
@color_line_red: #e22a04;
@color_text_red: #e22a04;
@color_text_blue: #0c204a;
@color_base_text_black: #000000;
@form_bgc_color_blue: #273a71;



